/* Some styling for the form to make everything less condensed */
form {
  display: flex;
  flex-wrap: wrap;          
  gap: 1rem;                
  align-items: flex-end;    
}

form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

h1{
  color: black;
}
